.form-group .minicaps {
  font-size: .875rem;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

.form-group .error-message {
  font-weight: bold;
  color: #FC7100;
  margin-top: 0.25rem;
}

.form-group .help-text {
  font-size: .875rem;
  color: rgba(81, 86, 101, 0.75);
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.form-group .input-label {
  margin-bottom: 0.25rem;
}

.form-group .input-label.left {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.form-group .input-label.right {
  margin-bottom: 0;
  margin-left: 0.5rem;
}