{
  "presets": ["@babel/env"],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    "@babel/plugin-transform-runtime",
    [
        "module-resolver", {
            "root": ["./src"]
        }
    ]
  ]
}
